body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #1D4A7A
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ::selection {
  background-color: #49243E; 
  color: #ddc4bb;              
}

textarea::selection, input::selection {
  background-color:  #ddc4bb;  
  color: #49243E;               
} */

::placeholder {
  color: #1D4A7A;
  opacity: 0.5; 
}