.close-section{
    /* background-color: aqua; */
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-right: 2px solid #1D4A7A;
    border-left: 2px solid #1D4A7A;

}