/* 

#DBAFA0
#BB8493
#1D4A7A
#49243E

*/

.flex {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.flex-column {
    flex-direction: column;
}


.codepad-section {
    /* background-color: yellowgreen; */
    border: 2px solid #1D4A7A;
    border-right: none;
    
}

.codepad-section button {
    /* border: 2px solid #e9cfd6; */
    background-color: #1D4A7A;
    color: #f7f0f2;
}

.codepad {
    width: 100%;
    padding: 1rem;
    /* background-color: #1D4A7A; */
    gap: 1rem;

}

label {
    color: #1D4A7A;
    font-size: large;
    font-weight: bold;
}

textarea {
    width: 90%;
    min-height: 5rem;
    border-radius: 0.5rem;
    padding: 0.7rem;
    font-family: "Source Code Pro" 'Inter';
    font-weight: bold;
    background-color: #f7f0f2;

    border: 1px solid #BB8493;
    outline: none;
    resize: vertical;
}

