.footer-section {
    background-color: #704264;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    grid-column: span 2;
    padding: 2rem 4rem;
    color: #DBAFA0;
}