
.result-section {
    /* background-color: chocolate; */
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin: 0;
    padding: 1rem;
    border: 2px solid #1D4A7A;
    width: 100%-2px;
    
    

}

.flex {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.flex-column {
    flex-direction: column;
}

.result {
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Helvetica, sans-serif;
    font-size: large;
    text-wrap: wrap;
    width: 100%;
    
    
}